.HeaderContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    height: 10vh;
    position: sticky; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.HeaderContainer > img{
    width: 40px;
}
.HeaderContainer > span{
    font-size: 25px;
    margin-top: 5px;
    font-weight: 350;
}
